@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}
button:hover {
  color: #04c;
}

.App {
  display: flex;
}

/* SIDEBAR STYLES */

.appSidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.appSidebarHeader {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.appSidebarHeader h1 {
  margin: 0;
}

.appSidebarNotes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.appSidebarNote {
  padding: 25px;
  cursor: pointer;
}
.sidebarNoteTitle {
  display: flex;
  justify-content: space-between;
}
.appSidebarNote button {
  color: crimson;
}
.appSidebarNote p {
  margin: 10px 0;
}
.appSidebarNote small {
  display: block;
  color: #999;
}

.appSidebarNote:hover {
  background: #ddd;
}
.appSidebarNote.active,
.appSidebarNote.active small {
  background: #08c;
  color: white;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.appMain {
  width: 70%;
  height: 100vh;
}
.appMainNotEdit,
.app-main-note-preview {
  height: 50vh;
}

.noActiveNote {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.appMainNoteEdit {
  padding: 25px;
}

.appMainNoteEdit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.appMainNoteEdit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.appMainNotePreview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.previewTitle {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdownPreview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}